examples/form-to-3-destinations.json
{
  "name": "Form Handler — 3 destinations (example)",
  "nodes": [
    {
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 360],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-acme",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Валидация",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 360],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body || {};\nconst errors = [];\n\nconst name  = (body.name  || '').trim();\nconst email = (body.email || '').trim();\nconst phone = (body.phone || '').trim();\n\nif (!name)  errors.push('Не заполнено имя');\nif (!email) errors.push('Не заполнен email');\nelse if (!/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(email)) errors.push('Некорректный email');\n\nconst data = {\n  name,\n  email,\n  phone: phone || null,\n  received_at: new Date().toISOString()\n};\n\nreturn [{ json: { valid: errors.length === 0, data, errors } }];"
      }
    },
    {
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "IF Валидно",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 360],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "amoCRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 160],
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-SUBDOMAIN.amocrm.ru/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([{ name: $json.data.name, _embedded: { contacts: [{ first_name: $json.data.name, custom_fields_values: [{ field_code: 'EMAIL', values: [{ value: $json.data.email, enum_code: 'WORK' }] }, { field_code: 'PHONE', values: [{ value: $json.data.phone, enum_code: 'WORK' }] }] }] } }]) }}",
        "options": {}
      }
    },
    {
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [980, 360],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "=🆕 Новая заявка\nИмя: {{ $json.data.name }}\nEmail: {{ $json.data.email }}\nТел: {{ $json.data.phone }}",
        "additionalFields": { "parse_mode": "HTML" }
      }
    },
    {
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [980, 560],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "leads",
        "columns": "name,email,phone,received_at",
        "options": {}
      }
    },
    {
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Telegram Алерт",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [980, 740],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_CHAT_ID",
        "text": "=⚠️ Невалидная заявка с формы\nОшибки: {{ $json.errors.join('; ') }}\nДанные: {{ JSON.stringify($json.data) }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Валидация", "type": "main", "index": 0 }]]
    },
    "Валидация": {
      "main": [[{ "node": "IF Валидно", "type": "main", "index": 0 }]]
    },
    "IF Валидно": {
      "main": [
        [
          { "node": "amoCRM", "type": "main", "index": 0 },
          { "node": "Telegram", "type": "main", "index": 0 },
          { "node": "Postgres", "type": "main", "index": 0 }
        ],
        [
          { "node": "Telegram Алерт", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {}
}
